@page "/"
@using Microsoft.AspNetCore.Mvc

@using Components.Pages;
<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <InventoryManagementSystem.Web.Components.Product.Landing></InventoryManagementSystem.Web.Components.Product.Landing>
    <InventoryManagementSystem.Web.Components.Product.Latest></InventoryManagementSystem.Web.Components.Product.Latest>
</div>

<style>
    body {
        background-color: #e9e5dd;
    }
</style>