@using Microsoft.AspNetCore.Mvc
@using Models;
@using InventoryManagementSystem.API.DTO;
@inject InventoryManagementSystem.API.Controllers.Product.ProductController _productController;

<div class="bg-white/30 w-11/12 rounded-lg p-3 backdrop-blur-sm">
    <h3 class="p-2 pb-0 text-base font-medium">Recent Products</h3>
    <span class="p-2 pt-0 text-xs font-medium text-gray-500">Most recent</span>
    <div>
        @foreach(var product in Products.OrderByDescending(p => p.ProductId).Take(5))
        {
            <div class="flex justify-between p-2 text-sm hover:bg-amber-200">
                <div>@product.ProductName</div>
                <div>@product.Quantity</div>
            </div>
        }
    </div>
</div>

@* maybe don't need to call this, just invoke from product call instead and filter down instead reduces the number of calls? *@
@code {
    [Parameter]
    public IEnumerable<ProductViewModel> Products { get; set; } = new List<ProductViewModel>();
}